*{
	padding:0;
	margin: 0;
	box-sizing: border-box;
}
body{
	line-height:1.6em;
	color:#333;
	font-family: Arial, Helvertical, sans-serif;
}

.container{
	width:80%;
	margin:auto;
}
header{
	background: #364147;
	color: #ffff;
	padding:40px 0;
	border-bottom: 2px solid #e8491d;
	position:fixed;
	width:100%;


}

ul{
	list-style:none;
}
ul li{
	display:inline-block;
	margin-right: 15px;
}
a{
	text-decoration:none;
	color:#fff;
	font-weight: bolder;
}
.clear-fix::after {
  content: "";
  clear: both;
  display: table;
}

nav{
	float:right;	
}
.logo{
	float:left;
}
.btn{
	width:100px ;
	height: 35px;
	background:#e8491d;
	color: #fff;
	border: none;
	font-size:18px;

}

.logo span,.active-menu  a{color:#e8491d;}

.showcase{
	background:url('img/laptop.jpg');
	min-height:400px;
	background-size: cover;
	background-repeat:no-repeat;
	text-align: center;
	color: #fff;
	padding-top:100px;
}
.rgb-background{background:rgba(0, 0, 0, 0.7);min-height:400px;}
.showcase h1{
	 padding-top:30px;
	 padding-bottom:30px;
	 font-weight: bolder;
	 font-size: 50px;
	 line-height:1.5em;
	 background: ;
}

.showcase p{
	 font-weight: bolder;
	 font-size: 30px;
	 line-height:1.5em;
}

.newsletter{
	background:#34414b;
	color: #fff;
	min-height:100px;
	padding-top: 25px;
}

.newsletter h3{
	float:left;
	font-size: 20px;

}

.newsletter-form{
	float: right;

}

.newsletter-form input[type='email']{
	width: 300px;
	height:40px;
	padding:0 10px;
}
.newsletter-form input:focus{
	outline:none;

}

.offer{
	float:left;
	width: 30%;
	padding:50px 0;
	display: inline;
	text-align: center;
	margin-right:20px;
}

.offer img{
	width: 100px;
}
.img-edit img{
	width: 70px;
}

footer{
	background:#e8491d;
	padding:15px 0;
	font-size:18px;
	text-align:center;
	color:#fff;
}

/*ABOUT PAGE STYLE*/
.about-newsletter{
	margin-top:100px;
	padding:20px 0;

}
.article{
	margin-top:20px;
	text-align: justify;
		font-size:18px;
}

.article-main{
	width:65%;
	float: left;
	
}
.article-main h2,.article-side h2{
	line-height:3em;
}

.article-main #p2{
	background: #333;
	color:#fff;
	padding: 15px;
	margin: 15px 0;

}

.article-side{
	background: #333;
	color:#fff;
	padding: 15px 20px;
	margin-top: 10px;

}



.article-side{
	width:30%;
	float:right;
}

/*SERVICE STYLE*/

/*.service{
	display: flex;
}*/

.service-main{
	width:70%;
	float: left; 
	margin-top:20px;
	padding-right: 40px;
}




.service-modal{
	background:#ebedef;
	margin: 20px 0;
	padding:30px;
}

.service-aside{
	width:30%;
	float: right;
	margin-top:20px;
	background:#364147;
	color: #fff;
	padding: 20px;
}

.service-aside form div{
	padding-top: 10px;
}
textarea{
	resize: none;
}

.service-aside form div input, .service-aside form div textarea {
	padding: 5px;
	width: 100%;
}


/*MEDIA QUERY*/
@media screen and (max-width: 768px){
	.logo, nav,.newsletter, .showcase,.article{float: none; text-align: center; width:100%;}

	nav{padding-top:10px;}

	.rgb-background h1{
		 line-height:1em;
		padding-top:70px;
	}
	.rgb-background p{
		 line-height:1.2em;
		padding-bottom:20px;
	}

	.newsletter{
		min-height:150px;
		float: none;
	}

	.newsletter h3,.newsletter-form{
		float: none;
		text-align: center;

	}
	.newsletter-form input[type='email'],form .btn{width: 100%;}

	form .btn{margin-top: 10px;}

	/*OFFERS*/
	.offer,.article{
		width: 100%;
		align-content: center;
	}
	.small-view{
		margin: -60px 0;
	}
	.article-main,.article-side,.service-aside,.service-main{
		float: none;
		width: 100%;
	}
	.article-main,.article-side, .service-aside{margin-bottom: 10px;}

	.service-main{
	 padding-right: 0px;
	 text-align: center;
  }


	
}

